<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">Itll
          blow your mind.</span></h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sapiente inventore officiis eos harum, at magnam
        amet, possimus aut eum neque placeat, delectus illo. Error molestias temporibus ipsum facere eaque Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Dolores, inventore ab assumenda corrupti officiis eveniet non
        saepe fugiat atque doloribus ipsa, ratione quidem provident consectetur molestias at enim obcaecati consequatur
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, quibusdam veniam dolor aspernatur laboriosam
        laudantium quo nam aut officia quos! Officia atque ab maiores cum ullam beatae voluptatibus iure harum Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ab molestiae. Necessitatibus quo nobis, magnam
        atur mollitia velit minus cumque, delectus ipsam doloremque, optio debitis accusamus! Est voluptate iure
        </p>
    </div>
    <div class="col-md-5">
      <img class="imge" src="https://media.gucci.com/style/DarkGray_Center_0_0_1200x1200/1681407013/678829_UKMEG_2569_003_100_0000_Light-Jumbo-GG-backpack.jpg" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, its that good. <span class="text-body-secondary">See for
          yourself.</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore sapiente inventore officiis eos harum, at magnam
        amet, possimus aut eum neque placeat, delectus illo. Error molestias temporibus ipsum facere eaque Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Dolores, inventore ab assumenda corrupti officiis eveniet non
        saepe fugiat atque doloribus ipsa, ratione quidem provident consectetur molestias at enim obcaecati consequatur
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, quibusdam veniam dolor aspernatur laboriosam
        laudantium quo nam aut officia quos! Officia atque ab maiores cum ullam beatae voluptatibus iure harum Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ab molestiae. Necessitatibus quo nobis, magnam
        atur mollitia velit minus cumque, delectus ipsam doloremque, optio debitis accusamus! Est voluptate iureAnother featurette?</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="imge1" src="https://media.gucci.com/style/HEXF1E9FB_Center_0_0_800x800/1675791032/735113_AABTI_1000_003_100_0000_Light-Crossbody-messenger-bag-with-Interlocking-G.jpg" alt="">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
          class="text-body-secondary">Checkmate.</span></h2>
      <p class="lead">amet, possimus aut eum neque placeat, delectus illo. Error molestias temporibus ipsum facere eaque Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Dolores, inventore ab assumenda corrupti officiis eveniet non
        saepe fugiat atque doloribus ipsa, ratione quidem provident consectetur molestias at enim obcaecati consequatur
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo, quibusdam veniam dolor aspernatur laboriosam
        laudantium quo nam aut officia quos! Officia atque ab maiores cum ullam beatae voluptatibus iure harum Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, ab molestiae. Necessitatibus quo nobis, magnam
        atur mollitia velit minus cumque, delectus ipsam doloremque, optio And yes, this is the last block of representative placeholder content. Again, not really intended
        to be actually read, simply here to give you a better view of what this would look like with some actual
        content. Your content.</p>
        <hr>
    </div>
    <div class="col-md-5">
      <img class="imge" src="https://media.gucci.com/style/HEXF1E9FB_Center_0_0_800x800/1674493300/735111_AABTC_1000_003_100_0000_Light-Messenger-bag-with-Interlocking-G.jpg" alt="">
    </div>
  </div>
</div>